/* ===================================== */
/* ---------- 1. Normalize ---------- */
/* ===================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Outfit, sans-serif;
}

body {
  min-height: 100vh;
}

/* ===================================== */
/* ---------- 2. Variables ---------- */
/* ===================================== */

:root {
  /* ---------- 2.1 Primitive ---------- */

  --fs-base: 0.9375rem;
  --fs-xl: 1.375rem;

  --fw-regular: 400;
  --fw-bold: 700;

  --lh-tight: 1.2;
  --lh-medium: 1.4;
  --lh-relaxed: 1.75;

  --ls-100: 0.2px;

  --spacing-200: 1rem;
  --spacing-250: 1.5rem;
  --spacing-300: 2rem;
  --spacing-500: 2.5rem;

  --size-500: 20rem;
  --size-800: 32rem;

  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;

  --br-md: 10px;
  --br-lg: 20px;

  --shadow-xl-subtle: 0 25px 25px rgb(0, 0, 0, 0.0477);

  /* ---------- 2.3 Semantic Mobile ---------- */

  /* Typography */
  --fs-card-title: var(--fs-base);
  --fs-card-description: var(--fs-base);

  --fw-card-title: var(--fw-regular);
  --fw-card-description: var(--fw-regular);

  --lh-card-title: var(--lh-medium);
  --lh-card-description: var(--lh-medium);

  --ls-card-title: var(--ls-100);
  --ls-card-description: var(--ls-100);

  /* Colors */
  --text-card-title: var(--slate-900);
  --text-card-description: var(--slate-500);

  --surface-page: var(--slate-300);
  --surface-card: var(--white);

  /* Shadows */
  --shadow-card: var(--shadow-xl-subtle);

  /* ---------- 2.2 Semantic Desktop ---------- */

  @media (min-width: 761px) {
    /* Typography */
    --fs-card-title: var(--fs-xl);
    --fs-card-description: var(--fs-base);

    --fw-card-title: var(--fw-bold);
    --fw-card-description: var(--fw-regular);

    --lh-card-title: var(--lh-tight);
    --lh-card-description: var(--lh-medium);

    --ls-card-title: 0;
    --ls-card-description: var(--ls-100);

    /* Colors */
    --text-card-title: var(--slate-900);
    --text-card-description: var(--slate-500);

    --surface-page: var(--slate-300);
    --surface-card: var(--white);

    /* Shadows */
    --shadow-card: var(--shadow-xl-subtle);
  }
}
/* ===================================== */
/* ---------- 3. Layout ---------- */
/* ===================================== */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===================================== */
/* ---------- 4. Global ---------- */
/* ===================================== */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--surface-page);
}

/* ===================================== */
/* ---------- 5. Component ---------- */
/* ===================================== */

/* ---------- QR Code Card ---------- */

.qr-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
  height: auto;
  width: auto;
  max-width: var(--size-500);
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500);
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: var(--shadow-card);
}

.qr-card__qr-code {
  border-radius: var(--br-md);
}

.qr-card__body-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: 0 var(--spacing-200);
  text-align: center;
}

.qr-card__title {
  font-size: var(--fs-card-title);
  font-weight: var(--fw-card-title);
  line-height: var(--lh-card-title);
  letter-spacing: var(--ls-card-title);
  color: var(--text-card-title);
}

.qr-card__description {
  font-size: var(--fs-card-description);
  font-weight: var(--fw-card-description);
  line-height: var(--lh-card-description);
  letter-spacing: var(--ls-card-description);
  color: var(--text-card-description);
}
